.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #ffffff;
    transition: all 0.5s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line {
      width: 30px;
      height: 4px;
      border-radius: 2px; }
      .menu-btn.close .btn-line:nth-child(1) {
        transform: rotate(45deg) translate(6px, 6px); }
      .menu-btn.close .btn-line:nth-child(2) {
        opacity: 0; }
      .menu-btn.close .btn-line:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px); }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: right;
    min-width: 360px;
    height: 100vh;
    overflow: hidden; }
  .menu-nav {
    margin: 0;
    padding: 0;
    background: #4b86f1;
    list-style: none;
    transform: translate3d(100%, 0, 0);
    transition: all 0.5s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu .nav-item {
    transform: translate3d(0, 600px, 0);
    transition: all 0.5s ease-out; }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
    .menu .nav-item.current > a {
      color: #0357f1; }
  .menu .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: #f3f7fe;
    text-decoration: none;
    transition: all 0.5s ease-out; }
    .menu .nav-link:hover {
      color: #0357f1; }

.nav-item:nth-child(1) {
  transition-delay: 0.2s; }

.nav-item:nth-child(2) {
  transition-delay: 0.4s; }

.nav-item:nth-child(3) {
  transition-delay: 0.6s; }

.nav-item:nth-child(4) {
  transition-delay: 0.8s; }

* {
  box-sizing: border-box; }

body {
  background-color: #6396f3; }

#root {
  position: absolute;
  background-color: #6396f3;
  color: #f3f7fe;
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Segue UI, Tahoma, Geneva, Verdana, sans-serif';
  line-height: 1.5; }
  #root#root {
    background: url(../img/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    z-index: -2; }
    #root#root:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: rgba(99, 150, 243, 0.8);
      z-index: -1; }

h1, h2, h3 {
  margin: 0;
  font-weight: 400; }
  h1.lg-heading, h2.lg-heading, h3.lg-heading {
    font-size: 6rem; }
  h1.sm-heading, h2.sm-heading, h3.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(108, 156, 244, 0.5); }

a {
  color: #ffffff;
  text-decoration: none; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

.text-secondary {
  color: #0357f1; }

main {
  padding: 4rem;
  min-height: calc(100vh - 50px); }
  main .icons {
    margin-top: 1rem; }
    main .icons a {
      padding: 0.4rem; }
      main .icons a:hover {
        color: #2073f3;
        transition: all 0.5s ease-out; }
  main#home {
    overflow: hidden; }
    main#home h1 {
      margin-top: 20vh; }

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: 'bio bio bio' 'skill-1 skill-2 skill-3';
  grid-template-columns: repeat(3, 1fr); }
  .about-info .bio {
    grid-area: bio;
    font-size: 1.5rem; }
  .about-info .skill-1 {
    grid-area: skill-1; }
  .about-info .skill-2 {
    grid-area: skill-2; }
  .about-info .skill-3 {
    grid-area: skill-3; }
  .about-info .skill {
    background: #1164fc;
    padding: 1rem 0.5rem;
    border-bottom: #f3f7fe 5px solid;
    text-align: center; }
    .about-info .skill h3 {
      font-size: 2rem;
      font-weight: 700; }
    .about-info .skill ul {
      padding: 0;
      list-style: none;
      font-size: 1.5rem; }

.experience {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1060px;
  margin: 0 auto; }
  .experience img {
    width: 100%;
    max-height: 350px;
    border: 3px #ffffff solid; }
    .experience img:hover {
      opacity: 0.5;
      border-color: #9ebdf6;
      transition: all 0.5s ease-out; }

#time-tracker, #midnite, #jackpot {
  background: url(../img/project.jpg);
  background-size: cover; }
  #time-tracker .tech-container, #midnite .tech-container, #jackpot .tech-container {
    background-color: #0357f1;
    color: #f3f7fe;
    margin-bottom: 2rem;
    padding: 1.5rem;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem; }
    #time-tracker .tech-container h3, #midnite .tech-container h3, #jackpot .tech-container h3 {
      text-align: center;
      font-size: 2rem; }
    #time-tracker .tech-container .tech-item, #midnite .tech-container .tech-item, #jackpot .tech-container .tech-item {
      text-align: center;
      font-size: 2.5rem;
      color: #9ebdf6; }
  #time-tracker .github-link, #midnite .github-link, #jackpot .github-link {
    background-color: #0357f1;
    text-align: center;
    padding: 1.5rem;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem; }
    #time-tracker .github-link a, #midnite .github-link a, #jackpot .github-link a {
      font-size: 1.7rem; }
      #time-tracker .github-link a:hover, #midnite .github-link a:hover, #jackpot .github-link a:hover {
        color: #9ebdf6; }

.time-tracker {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr); }
  .time-tracker img {
    width: 100%;
    border: 0.6rem #0357f1 solid; }
  .time-tracker .description {
    background-color: #0357f1;
    font-size: 1.2rem;
    padding: 1rem 0;
    margin-bottom: 2rem;
    font-weight: 600;
    border: 3px #f3f7fe dashed;
    text-align: center; }

.midnite {
  display: grid;
  grid-gap: 1rem;
  grid-template-rows: auto;
  grid-template-areas: 'item-ss1 item-ss1' 'item-ss2 item-ss3';
  grid-template-columns: repeat(2, 1fr);
  max-width: 768px;
  margin: 0 auto; }
  .midnite .item-ss1 {
    grid-area: item-ss1; }
  .midnite .item-ss2 {
    grid-area: item-ss2; }
  .midnite .item-ss3 {
    grid-area: item-ss3; }
  .midnite img {
    width: 100%;
    border: 0.6rem #0357f1 solid; }
  .midnite .description {
    background-color: #0357f1;
    font-size: 1.2rem;
    padding: 1rem 0;
    margin-bottom: 2rem;
    font-weight: 600;
    border: 3px #f3f7fe dashed;
    text-align: center; }

.jackpot {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr); }
  .jackpot .rules {
    background-color: #f3f7fe;
    color: #0357f1;
    font-size: 1.1rem;
    padding-right: 15px; }
    .jackpot .rules h2 {
      font-size: 2.5rem;
      text-align: center; }
  .jackpot img {
    width: 100%;
    border: 0.6rem #0357f1 solid; }
  .jackpot .description {
    background-color: #0357f1;
    font-size: 1.2rem;
    padding: 1rem 0;
    margin-bottom: 2rem;
    font-weight: 600;
    border: 3px #f3f7fe dashed;
    text-align: center; }

.btn, .btn-dark, .btn-light {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem; }
  .btn:hover, .btn-dark:hover, .btn-light:hover {
    background: #9ebdf6;
    color: set-text-color(#9ebdf6); }

.btn-dark {
  background: #062151;
  color: #ffffff; }

.btn-light {
  background: white;
  color: #333333; }

#main-footer {
  text-align: center;
  padding: 1rem;
  background: #3476ef;
  color: set-text-color(#6396f3);
  height: 50px; }

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center; }
  .lg-heading {
    line-height: 1;
    margin-bottom: 1rem; }
  ul.menu-nav {
    float: none;
    min-height: 0; }
  .about-info {
    grid-template-areas: 'bio' 'skill-1' 'skill-2' 'skill-3';
    grid-template-columns: 1fr; }
  .experience, .time-tracker, .jackpot {
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (max-width: 500px) {
  main#home h1 {
    margin-top: 10vh; }
  h1.lg-heading, h2.lg-heading, h3.lg-heading {
    font-size: 3.5rem; }
  .experience, .time-tracker, .jackpot {
    grid-template-columns: 1fr; } }
