@import 'config';
@import 'menu';

* {
  box-sizing: border-box;
}

body {
  background-color: $color3;
}

#root {
  @include background;
  position: absolute;
  background-color: $color3;
  color: $color1;
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Segue UI, Tahoma, Geneva, Verdana, sans-serif';
  line-height: 1.5;
}

// Headings
h1, h2, h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($color3, 2), 0.5);
  }
}

a {
  color: #ffffff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $color5;
}

main {
  padding: 4rem;
  // height: 100%;
  min-height: calc(100vh - 50px);

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $color4;
        @include easeOut();
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
  'bio bio bio'
  'skill-1 skill-2 skill-3';
  grid-template-columns: repeat(3, 1fr);

  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }

  .skill-1 {
    grid-area: skill-1;
  }

  .skill-2 {
    grid-area: skill-2;
  }

  .skill-3 {
    grid-area: skill-3;
  }

  .skill {
    background: lighten($color5, 5);
    padding: 1rem 0.5rem;
    border-bottom: $color1 5px solid;
    text-align: center;

    h3 {
      font-size: 2rem;
      font-weight: 700;
    }

    ul {
      padding: 0;
      list-style: none;
      font-size: 1.5rem;
    }
  }
}

// Experience
.experience {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);

  img {
    width: 100%;
    border: 3px #ffffff solid;

    &:hover {
      opacity: 0.5;
      border-color: $color2;
      @include easeOut;
    }
  }
}

// TimeTracker
#time-tracker {
  background: url(../img/project.jpg);
  background-size: cover;

  .tech-container {
    background-color: $color5;
    color: $color1;
    margin-bottom: 2rem;
    padding: 1.5rem;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;

    h3 {
      text-align: center;
      font-size: 2rem;
    }

    .tech-item {
      text-align: center;
      font-size: 2.5rem;
      color: $color2;
    }
  }

  .github-link {
    background-color: $color5;
    text-align: center;
    padding: 1.5rem;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;

    a {
      font-size: 1.7rem;

      &:hover {
        color: $color2;
      }
    }
  }
}

.time-tracker {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);

  img {
    widtH: 100%;
    border: 0.6rem $color5 solid;
  }

  .description {
    background-color: $color5;
    font-size: 1.2rem;
    padding: 1rem 0;
    margin-bottom: 2rem;
    font-weight: 600;
    border: 3px $color1 dashed;
    text-align: center;
  }
}

// Button Styles
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;

  &:hover {
    background: $color2;
    color: set-text-color($color2);
  }
}

.btn-dark {
  @extend .btn;
  background: darken($color3, 50);
  color: #ffffff;
}

.btn-light {
  @extend .btn;
  background: lighten($color3, 50);
  color: #333333;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($color3, 10);
  color: set-text-color($color3);
  height: 50px;
}

@import 'mobile';
